<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
        color: #333;
      }

      .grid {
        display: grid;
        grid-template-columns: 1fr;
        /* gap: 8px; */
        padding: 10px;
        justify-content: center;
      }

      .col-start-2 {
        grid-column-start: 1;
      }

      .col-span-2 {
        grid-column-end: span 1;
      }

      .col-start-2.col-span-2 {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }

      p {
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 20px;
        text-align: justify;
        color: #555;
      }

      h1 {
        color: #007bff;
        font-family: "Mandali", sans-serif;
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
      }

      img {
        max-width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 20px;
      }

      h2 {
        color: #007bff;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
      }

      .flexImage {
        display: flex;
        flex-direction: column;
      }

      .role {
        font-size: 16px;
        font-weight: bold;
        margin-top: 5px;
      }

      @media screen and (min-width: 768px) {
        .grid {
          grid-template-columns: repeat(4, 1fr);
        }

        .col-start-2 {
          grid-column-start: 2;
        }

        .col-span-2 {
          grid-column-end: span 2;
        }
      }
    </style>
  </head>
  <body>
    <%- include('header.ejs') %> <%- include('navBar.ejs') %>
    <div class="grid">
      <div class="col-start-2 col-span-2">
        <h1 style="font-size: 36px">Welcome to Sandesh TV</h1>
        <p>
          Where creativity meets innovation. We are a dynamic team of passionate
          individuals dedicated to delivering compelling and cutting-edge
          content. With a focus on storytelling and multimedia excellence, we
          strive to captivate audiences and leave a lasting impact.
        </p>
        <br />
        <p style="margin-bottom: 30px">
          Established in 2009 as a cable-based channel,
          <strong>Sandesh TV</strong> has evolved into a digital media
          powerhouse, boasting a viewership of 16 Lakhs. Our commitment to
          excellence is reflected in our comprehensive coverage, with a special
          emphasis on pivotal events spanning politics, culture, movies,
          spirituality, and sports. Join us on a journey where information meets
          inspiration, as we continue to shape the narrative in the
          ever-evolving landscape of media.
        </p>
        <div class="flexImage">
          <img
            src="/images/anil-kumar.JPG"
            alt="anil-kumar"
            style="
              max-width: 200px;
              max-height: 200px;
              margin-right: 0;
              margin-bottom: 20px;
            "
          />
          <div>
            <h2
              style="
                color: #007bff;
                font-size: 24px;
                font-weight: bold;
                margin: 0;
              "
            >
              Kunta Anil Kumar
            </h2>
            <div class="role">Managing Director & Chairman</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
