<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      .flex-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
      }

      .article-box {
        width: 300px; /* Set your preferred width */
        border: 1px solid #ddd;
        padding: 16px;
        margin: 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 500px; /* Set your preferred height */
        background-color: #0d9488; /* Background color */
        color: white; /* Text color */
        border-radius: 8px; /* Border radius */
        box-shadow: 20px 20px 60px #00000041, inset -20px -20px 60px #ffffff40;
      }

      .article-box h2 {
        font-size: 17px; /* Font size */
        font-weight: 600; /* Font weight */
        margin-bottom: 16px;
      }

      .article-date {
        font-size: 14px;
        margin-bottom: 8px;
        color: white; /* White color */
      }

      .article-image {
        flex-grow: 1;
      }

      .article-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }

      .no-image {
        flex-grow: 1;
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
      }
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ddd;
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ddd;
      }

      .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-right: auto; /* Pushes the title to the left */
        text-align: center; /* Centers the text horizontally */
      }

      .button {
        padding: 10px 20px;
        background-color: #3498db;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }

      .button:hover {
        background-color: #297fb8;
      }
    </style>
    <script>
      function deleteArticle(id) {
        if (confirm("Are you sure you want to delete this paper?")) {
          fetch(`/editPaper/${id}`, {
            method: "delete",
            headers: { "Content-Type": "application/json" },
          })
            .then((res) => {
              if (res.ok) {
                window.location.reload();
              }
            })
            .catch((err) => console.error(err));
        }
      }
    </script>
  </head>
  <body>
    <%- include("header.ejs")%> <%- include("navBar.ejs")%> <% if(admin) {%>
    <div class="header">
      <h1 class="title">Edit Papers</h1>
      <a href="/createArticle" class="button">Add Paper</a>
    </div>
    <% } %> <%- include("articleListItems.ejs") %>
  </body>
</html>
