<div class="container mx-auto px-4">
    <div class="flex flex-col sm:flex-row gap-4 grid grid-cols-4 grid-rows-4">
        <% const latestImages = {}; %>

        <% for (let i = 0; i < articles.length; i++) { %>
            <% const category = articles[i].category; %>

            <% if (!latestImages[category] || latestImages[category].date < articles[i].date) { %>
                <% latestImages[category] = {
                    date: articles[i].date,
                    image: articles[i].images
                        ? articles[i].images.filename
                        : null
                }; %>
            <% } %>
        <% } %>

        <% Object.keys(latestImages).forEach(category => { %>
            <a href="/<%= category %>">
                <div class="p-4 border border-gray-300 h-80 w-80 flex flex-col">
                    <h2 class="p-2 text-xl sm:text-2xl mb-2"><%= category.toUpperCase() %></h2>

                    <% if (latestImages[category].image) { %>
                        <div>
                            <img class="w-full"
                                src="/uploads/<%= latestImages[category].image %>"
                                alt="<%= latestImages[category].image %>">
                        </div>
                    <% } %>
                </div>
            </a>
        <% }) %>
    </div>
</div>
