<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .box {
            box-shadow: 20px 20px 60px #00000041, inset -20px -20px 60px #ffffff40;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>

<body>
    <%- include('header.ejs') %>
    <div class="flex p-2 space-x-4 justify-end">
        <a href="/allPapers" class="flex items-center space-x-2 px-4 py-2 bg-blue-500 text-white rounded">
            <span>All News</span>
        </a>
    </div>
    <div>
        <%- include('articleStateItems.ejs') %>
    </div>
</body>

</html>