<footer class="bg-gray-500 mt-10 text-white py-8 rounded-lg">
  <div class="container mx-auto">
      <p class="text-center text-2xl font-bold">Sandesh Tv</p>
      <div class="mt-6 flex justify-center space-x-4">
          <a href="/aboutus" class="hover:text-gray-300 text-lg">About Us</a>
          <a href="mailto:anil.sandeshtv@gmail.com" class="hover:text-gray-300 text-lg">Get in touch</a>
          <a href="/privacyPolicy" class="hover:text-gray-300 text-lg">Privacy Policy</a>
      </div>
  </div>
</footer>
