<footer class="bg-gray-300 mt-10 text-white py-8 rounded-lg">
  <div class="container mx-auto">
    <p class="text-center text-2xl font-bold" style="color: black">
      Sandesh Tv
    </p>
    <div class="mt-6 flex justify-center space-x-4" style="color: black">
      <a href="/aboutus" class="hover:text-blue-500 text-lg">About Us</a>
      <a
        href="mailto:anil.sandeshtv@gmail.com"
        class="hover:text-blue-500 text-lg"
        >Get in touch</a
      >
      <a href="/privacyPolicy" class="hover:text-blue-500 text-lg"
        >Privacy Policy</a
      >
    </div>
  </div>
</footer>
