<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="p-4 bg-blue-500 text-white text-sm"><%= date %> | Sandesh TV Daily News</div>
    <nav class="p-2" style="background-color: #F5F5DC">
      <div>
        <img
          src="/images/sandesh-tv-logo.png"
          alt="Logo"
          style="width: 200px; height: auto"
        />
      </div>
    </nav>
  </body>
</html>
