<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="website icon" type="jpg" href="/images/web-icon.jpg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mandali:wght@400&display=swap"
    />
    <style>
      /* Add custom styles for page borders */
      #pdf-viewer canvas {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        max-width: 100%;
      }
      .backButton {
        background-color: #0d9488;
        color: white;
        padding: 0.75rem 1.5rem;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .backButton:hover {
        background-color: #075e54;
      }
      #download-button {
        margin-bottom: 20px;
        background-color: #0d9488;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s, box-shadow 0.3s;
        box-shadow: 5px 5px 20px #00000041, inset -5px -5px 20px #ffffff40;
      }
      #pdf-viewer-container {
        overflow-x: auto;
      }

      #download-button:hover {
        background-color: #075e54;
        box-shadow: 10px 10px 60px #00000041, inset -10px -10px 60px #ffffff40;
      }

      /* Additional Styles for Mobile Responsiveness */
      @media screen and (max-width: 768px) {
        #pdf-viewer-container {
          overflow-x: auto;
        }

        #pdf-viewer canvas {
          max-width: 100%;
        }
      }
    </style>
  </head>

  <body>
    <div class="mb-2"><%- include("header.ejs") %></div>
    <div class="ml-6 mb-2">
      <button class="backButton shadow-md rounded-lg" onclick="goBack()">
        Go Back
      </button>
    </div>
    <div class="grid grid-cols-6">
      <div class="col-start-2 col-span-3">
        <h3 class="font-bold text-4xl mb-4"><%= magazine.title %></h3>
        <a
          id="download-button"
          class="mt-4 px-2 py-2 text-white rounded-md cursor-pointer hover:bg-blue-600"
          download
        >
          Download PDF
        </a>
      </div>
      <div class="col-start-2 col-span-4">
        <br />
        <div id="pdf-viewer-container shadow-md">
          <div id="pdf-viewer" style="width: 100%; height: 800px"></div>
        </div>
      </div>
    </div>

    <script type="importmap">
      {
        "imports": {
          "pdfjsLib": "https://cdn.jsdelivr.net/npm/pdfjs-dist@4.0.379/build/pdf.min.mjs"
        }
      }
    </script>
    <script type="module">
      import * as pdfjsLib from "pdfjsLib";
      document.addEventListener("DOMContentLoaded", function () {
        const pdfUrl = "/uploads/<%= magazine.pdf.filename %>";
        pdfjsLib.GlobalWorkerOptions.workerSrc =
          "https://cdn.jsdelivr.net/npm/pdfjs-dist@4.0.379/build/pdf.worker.min.mjs";
        const pdfViewer = document.getElementById("pdf-viewer");
        const downloadButton = document.getElementById("download-button");

        pdfjsLib.getDocument(pdfUrl).promise.then(function (pdfDoc) {
          for (let pageNum = 1; pageNum <= pdfDoc.numPages; pageNum++) {
            pdfDoc.getPage(pageNum).then(function (page) {
              const canvas = document.createElement("canvas");
              const context = canvas.getContext("2d");
              const viewport = page.getViewport({ scale: 1.5 });
              canvas.height = viewport.height;
              canvas.width = viewport.width;
              pdfViewer.appendChild(canvas);
              page.render({
                canvasContext: context,
                viewport: viewport,
              });
            });
          }
        });

        // Set download URL
        downloadButton.href = pdfUrl;
      });
    </script>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
