  <% for (let i=0; i< news.length; i++) { %>
            <div class="py-2 px-4 transition-transform duration-300 transform hover:-translate-y-1">
                <a href="#">
                    <p class="tracking-light font-bold line-clamp-2"><%= news[i].title %> | <%= news[i].content %>...</p>
                </a>
            </div>
    <% } %>


