<div class="container mx-auto text-center col-start-2 col-span-2">
  <h2
    style="
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 20px;
      color: #4072d7;
    "
  >
    Today's News
  </h2>
  <% if (todaysNews.length > 0) { %> <% for (let i = 0; i < todaysNews.length;
  i++) { %>
  <div
    class="py-2 px-4 transition-transform duration-300 transform hover:-translate-y-1 col-start-2 col-span-2 border-b-2 border-black mb-2"
  >
    <a
      href="/news/<%=todaysNews[i].id%>"
      style="
        text-decoration: none;
        color: inherit;
        font-family: 'Mandali', sans-serif;
      "
    >
      <p
        class="tracking-light"
        style="
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-family: 'Mandali', sans-serif;
          font-size: 24px;
        "
      >
        <span class="font-bold" style="color: rgb(44, 52, 155); font-size: 24px"
          ><%= todaysNews[i].title %></span
        >
        | <%= todaysNews[i].content %>...
      </p>
    </a>
  </div>
  <% } %> <% } else { %>
  <div class="py-2 px-4">
    <p style="font-family: 'Mandali', sans-serif; font-size: 16px">
      No news available for today.
    </p>
  </div>
  <% } %>
</div>
