<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Privacy Policy</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
      color: #333;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      /* gap: 20px; */
      padding: 20px;
      justify-content: center;
    }

    .col-start-2 {
      grid-column-start: 1;
    }

    .col-span-2 {
      grid-column-end: span 1;
    }

    .col-start-2.col-span-2 {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #007bff;
      font-family: 'Mandali', sans-serif;
      font-size: 28px; /* Increased font size */
      text-align: center;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 20px;
      text-align: justify;
      color: #555;
    }

    ul {
      margin-left: 20px; /* Added margin to indent the list */
      list-style-type: disc; /* Set the bullet point style */
    }
    
    li {
      font-size: 16px; /* Set font size for list items */
      color: #555; /* Set color for list items */
      line-height: 1.6; /* Set line height for list items */
    }
    
    @media screen and (min-width: 768px) {
      .grid {
        grid-template-columns: repeat(4, 1fr);
      }

      .col-start-2 {
        grid-column-start: 2;
      }

      .col-span-2 {
        grid-column-end: span 2;
      }

      p {
        font-size: 18px;
      }
    }
  </style>
</head>
<body>
    <%- include('header.ejs') %>
    <%- include('navBar.ejs') %>
  <div class="grid">
    <div class="col-start-2 col-span-2">
      <h1 style="font-size: 36px;">Privacy Policy</h1>
      <p>
        At Sandesh TV, we don't collect any data from our users and are committed to ensuring their privacy through our adherence to this principle. This statement describes our commitment to not gathering any information from you when you visit our website. We neither collect nor maintain any data from users.      </p>
      <br>
      <p>
        This policy applies to our website and confirms that:
        <ul style="list-style-type: disc;margin-left: 20px;">
          <li style="font-size: 16px;color: #555; line-height: 1.7;">We do not collect any information on this website.</li>
          <li style="font-size: 16px;color: #555; line-height: 1.7;">We do not engage in email, text, or other electronic message communications that involve data collection.</li>
          <li style="font-size: 16px;color: #555; line-height: 1.7;">We do not offer mobile or desktop applications for download, thus eliminating any interaction that could involve data collection.</li>
        </ul>
      </p>
      <br>
      <p>
        We prioritize your privacy and assure you that no data is collected or stored.
      </p>
      <p>
        Please be assured that your privacy is our utmost concern. If you have any questions or concerns regarding our privacy policy or practices, please feel free to contact us at: <span class="text-blue-500">anil.sandeshtv@gmail.com</span>
      </p>
    </div>
  </div>
</body>
</html>
